header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    top: 0;
    margin: 0;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-left a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.content{
    text-align: center;
}
.about-ttl{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.about-us{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.about-comment{
    text-align: center;
    margin-bottom: 30px;
}
.search{
    text-align: center;
}
.search-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.search-button{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 40;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.search-button:hover {
  background-color: #0056b3;
}


.contact {
    width: 960px;/*横幅*/
    margin: 0 auto;/*中央寄せ*/
    padding: 60px 0;
}
.contact-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.contact-table {
    width: 100%;
    margin-bottom: 20px;
}
* {
    box-sizing: border-box;
}
  
body {
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.contact-item,.contact-body {
    padding: 20px;
    border: 1px solid #ccc;
}
  
.contact-item {
    text-align: left; /* テキスト左寄せ */
    width: 30%; /* 横幅30%指定（グレーの背景色部分） */
    background-color: #eee; /* グレーの背景色 */
}
  
.contact-body {
    width: 70%; /* 横幅70%指定（白背景色部分） */
}
.form-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}
.form-textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
.contact-submit {
    width: 250px; /* 横幅指定 */
    background-color: #333; /* 背景色 */
    color: #fff; /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    display: block; /* インライン要素をブロック要素に変更 */
    margin: 0 auto; /* 中央寄せ */
    font-size: 16px; /* 文字の大きさ */
    padding: 15px; /* 内側の余白 */
    border-radius: 100vh; /* 角丸指定 */
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.result-row a{
    margin: auto 5px;
}

/* スタイルの適用 */
.result{
    /* ここに適切なスタイルを追加してください */
    /* 例: バックグラウンドカラー、マージン、パディングなど */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  ul.result-row {
    list-style: none;
    padding: 0;
  }
  
  ul.result-row li {
    margin-bottom: 10px;
  }
  
  .Citation_button,
  .reference_button {
    display: inline;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .Citation_button:hover,
  .reference_button:hover {
    background-color: #0056b3;
  }
  