<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Paper Searcher</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="header-left">
            <a href="/">Paper Tree Searcher</a>
          </div>
          <div class="header-right">
            <a href="#about">About</a>
            <a href="/search">Search</a>
            <a href="#contact">Contact</a>
          </div>
        </div>
      </header>
 
    {% block content %}
    {% endblock %}

</body>
</html>