{% extends "base.html" %}
{% block content %}
<script language="JavaScript" type="text/JavaScript">
    function check(){
        if(window.confirm('送信してよろしいですか？')){ 
    return true;
    }
    else{
        window.alert('キャンセルされました'); 
        return false; /
    }
}
</script>
<div id = "content">
    <h1 class="about-ttl">Welcome to "Paper Tree Searcher"</h1>
    <h2 id = "about" class="about-us">About us</h2>
    <p class="about-comment">This website was created to provide a systematic understanding of theses.<br>
        The references and citations of the target paper are shown systematically using a tree structure.<br>
        This site is currently under development, so if you would like to help with its development, please contact me.</p>
</div>  
<div class ="search">
    <h2 class ="search-ttl">Let's search</h2>
    <a href="/search" role="button" class="search-button">Search</a>
</div>
<div class = "contact" id = "contact">
    <h1 class="contact-ttl">Contact us</h1>
    <form method="POST" onsubmit="check()">
        <table class="contact-table">
            <tr>
                <th class="contact-item">Name</th>
                <td class="contact-body">
                    <input type="text" name="name" class="form-text" />
                </td>
            </tr>
            <tr>
                <th class="contact-item">E-mail</th>
                <td class="contact-body">
                    <input type="email" name="email" class="form-text" />
                </td>
            </tr>
            <tr>
                <th class="contact-item">Message</th>
                <td class="contact-body">
                    <textarea name="message" class="form-textarea"></textarea>
                </td>
            </tr>
        </table>
        <input class="contact-submit" type="submit" value="Submit" />
    </form>
</div>


{% endblock %}
